In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#main_dir = "C:/Users/wojci/Downloads/CLIMATE_DATA" #windows machine
main_dir = "/home/wojciech/Pobrane/CLIMATE_DATA" # Linux machine
prepared_dir = "PREPARED"


climate_directory = "CLIMATE"
df_kmt = pd.read_csv(os.path.join(main_dir, climate_directory, prepared_dir,"kmt.csv"),index_col=0)
df_kmd = pd.read_csv(os.path.join(main_dir, climate_directory, prepared_dir,"kmd.csv"),index_col=0)

synoptic_directory = "SYNOPTIC"
df_smt = pd.read_csv(os.path.join(main_dir, synoptic_directory, prepared_dir,"smt.csv"),index_col=0)
df_smd = pd.read_csv(os.path.join(main_dir, synoptic_directory, prepared_dir,"smd.csv"),index_col=0)

precipitation_directory = "PRECIPITATION"
df_om = pd.read_csv(os.path.join(main_dir, precipitation_directory, prepared_dir,"om.csv"),index_col=0)

In [3]:
df_kmt

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Średnia miesięczna temperatura [°C],Status pomiaru TEMP,Średnia miesięczna wilgotność względna [%],Status pomiaru WLGS,Średnia miesięczna prędkość wiatru [m/s],Status pomiaru FWS,Średnie miesięczne zachmurzenie ogólne [oktanty],Status pomiaru NOS
0,249180010,PSZCZYNA,1971,1,-3.2,NaN,0.0,8.0,1.8,NaN,4.3,NaN
1,249180010,PSZCZYNA,1971,2,0.5,NaN,0.0,8.0,2.0,NaN,6.9,NaN
2,249180010,PSZCZYNA,1971,3,0.6,NaN,0.0,8.0,2.2,NaN,5.8,NaN
3,249180010,PSZCZYNA,1971,4,9.1,NaN,0.0,8.0,1.5,NaN,4.9,NaN
4,249180010,PSZCZYNA,1971,5,16.2,NaN,0.0,8.0,1.2,NaN,4.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1896,254220090,OLECKO,2004,8,18.2,NaN,0.0,8.0,0.0,8.0,0.0,8.0
1897,254220090,OLECKO,2004,9,12.6,NaN,0.0,8.0,0.0,8.0,5.2,NaN
1898,254220090,OLECKO,2004,10,8.4,NaN,0.0,8.0,0.0,8.0,6.2,NaN
1899,254220090,OLECKO,2004,11,1.8,NaN,0.0,8.0,0.0,8.0,6.7,NaN
1900,254220090,OLECKO,2004,12,0.8,NaN,0.0,8.0,0.0,8.0,7.4,NaN

In [4]:
df_kmd

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Absolutna temperatura maksymalna [°C],Status pomiaru TMAX,Średnia temperatura maksymalna [°C],Status pomiaru TMXS,Absolutna temperatura minimalna [°C],Status pomiaru TMIN,...,Status pomiaru SUMM,Maksymalna dobowa suma opadów [mm],Status pomiaru OPMX,Pierwszy dzień wystapienia opadu maksymalnego,Ostatni dzień wystąpienia opadu maksymalnego,Maksymalna wysokość pokrywy śnieżnej [cm],Status pomiaru PKSN,Liczba dni z pokrywą śnieżną,Liczba dni z opadem deszczu,Liczba dni z opadem śniegu
0,249180010,PSZCZYNA,1971,1,13.9,NaN,0.1,NaN,-21.8,NaN,...,NaN,10.2,NaN,3.0,NaN,30,NaN,23,2,2
1,249180010,PSZCZYNA,1971,2,12.1,NaN,2.7,NaN,-10.8,NaN,...,NaN,8.2,NaN,27.0,NaN,20,NaN,9,2,10
2,249180010,PSZCZYNA,1971,3,20.8,NaN,4.3,NaN,-19.5,NaN,...,NaN,29.6,NaN,22.0,NaN,30,NaN,16,6,12
3,249180010,PSZCZYNA,1971,4,22.4,NaN,13.9,NaN,-2.2,NaN,...,NaN,9.9,NaN,27.0,NaN,0,NaN,0,9,2
4,249180010,PSZCZYNA,1971,5,28.7,NaN,20.7,NaN,-1.1,NaN,...,NaN,18.0,NaN,23.0,NaN,0,NaN,0,13,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860,254220090,OLECKO,2014,8,34.0,NaN,22.8,NaN,7.0,NaN,...,NaN,16.8,NaN,24.0,NaN,0,NaN,0,23,0
1861,254220090,OLECKO,2014,9,25.5,NaN,19.2,NaN,3.0,NaN,...,NaN,15.9,NaN,21.0,NaN,0,NaN,0,8,0
1862,254220090,OLECKO,2014,10,21.7,NaN,12.4,NaN,-8.2,NaN,...,NaN,8.4,NaN,14.0,NaN,0,NaN,0,8,0
1863,254220090,OLECKO,2014,11,15.2,NaN,4.9,NaN,-13.1,NaN,...,NaN,12.2,NaN,7.0,NaN,3,NaN,7,3,4
1864,254220090,OLECKO,2014,12,10.2,NaN,1.1,NaN,-15.7,NaN,...,NaN,10.3,NaN,22.0,NaN,2,NaN,12,8,8

In [5]:
df_smd

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Absolutna temperatura maksymalna [°C],Status pomiaru TMAX,Średnia temperatura maksymalna [°C],Status pomiaru TMXS,Absolutna temperatura minimalna [°C],Status pomiaru TMIN,...,Liczba dni z wiatrem >= 10m/s,Status pomiaru W10D,Liczba dni z wiatrem >15m/s,Status pomiaru W15D,Liczba dni z burzą,Status pomiaru BURD,Liczba dni z rosą,Status pomiaru ROSD,Liczba dni ze szronem,Status pomiaru SZRD
0,349190600,BIELSKO-BIAŁA,2004,1,5.7,NaN,-1.1,NaN,-13.8,NaN,...,9,NaN,0,NaN,0,NaN,0,NaN,0,NaN
1,349190600,BIELSKO-BIAŁA,2004,2,13.8,NaN,3.3,NaN,-15.8,NaN,...,7,NaN,0,NaN,0,NaN,0,NaN,0,NaN
2,349190600,BIELSKO-BIAŁA,2004,3,21.0,NaN,6.7,NaN,-15.5,NaN,...,2,NaN,0,NaN,0,NaN,1,NaN,0,NaN
3,349190600,BIELSKO-BIAŁA,2004,4,20.3,NaN,13.8,NaN,-2.0,NaN,...,1,NaN,0,NaN,1,NaN,17,NaN,3,NaN
4,349190600,BIELSKO-BIAŁA,2004,5,23.5,NaN,16.7,NaN,0.7,NaN,...,1,NaN,0,NaN,5,NaN,20,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3635,354220195,SUWAŁKI,1995,8,32.2,NaN,23.6,NaN,6.2,NaN,...,0,NaN,0,NaN,3,NaN,18,NaN,0,NaN
3636,354220195,SUWAŁKI,1995,9,22.0,NaN,16.4,NaN,-0.9,NaN,...,3,NaN,0,NaN,1,NaN,18,NaN,3,NaN
3637,354220195,SUWAŁKI,1995,10,23.0,NaN,13.1,NaN,-3.2,NaN,...,1,NaN,0,NaN,0,NaN,19,NaN,3,NaN
3638,354220195,SUWAŁKI,1995,11,8.6,NaN,1.4,NaN,-10.0,NaN,...,3,NaN,0,NaN,0,NaN,0,NaN,9,NaN
3639,354220195,SUWAŁKI,1995,12,3.1,NaN,-3.9,NaN,-24.0,NaN,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN

In [6]:
df_smt

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Średnie miesięczne zachmurzenie ogólne [oktanty],Status pomiaru NOS,Średnia miesięczna prędkość wiatru [m/s],Status pomiaru FWS,Średnia miesięczna temperatura [°C],Status pomiaru TEMP,...,Średnia miesięczna wilgotność względna [%],Status pomiaru WLGS,Średnie miesięczne ciśnienie na poziomie stacji [hPa],Status pomiaru PPPS,Średnie miesięczne ciśnienie na pozimie morza [hPa],Status pomiaru PPPM,Suma opadu dzień [mm],Status pomiaru WODZ,Suma opadu noc [mm],Status pomiaru WONO
0,349190600,BIELSKO-BIAŁA,1991,1,4.7,NaN,4.6,NaN,-0.1,NaN,...,77.2,NaN,977.7,NaN,1027.7,NaN,3.5,NaN,8.7,NaN
1,349190600,BIELSKO-BIAŁA,1991,2,4.9,NaN,3.3,NaN,-4.3,NaN,...,79.8,NaN,971.5,NaN,1022.0,NaN,10.1,NaN,16.7,NaN
2,349190600,BIELSKO-BIAŁA,1991,3,5.4,NaN,3.8,NaN,5.7,NaN,...,78.9,NaN,970.0,NaN,1018.5,NaN,8.6,NaN,10.9,NaN
3,349190600,BIELSKO-BIAŁA,1991,4,5.3,NaN,3.0,NaN,6.4,NaN,...,76.2,NaN,968.9,NaN,1017.2,NaN,39.5,NaN,24.4,NaN
4,349190600,BIELSKO-BIAŁA,1991,5,6.5,NaN,2.9,NaN,9.2,NaN,...,78.1,NaN,968.6,NaN,1016.4,NaN,62.4,NaN,58.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,354220195,SUWAŁKI,2008,8,4.9,NaN,4.0,NaN,17.4,NaN,...,76.7,NaN,989.3,NaN,1011.2,NaN,57.7,NaN,49.6,NaN
692,354220195,SUWAŁKI,2008,9,5.2,NaN,3.6,NaN,11.5,NaN,...,84.2,NaN,996.2,NaN,1018.7,NaN,14.9,NaN,18.9,NaN
693,354220195,SUWAŁKI,2008,10,5.6,NaN,3.8,NaN,8.2,NaN,...,88.5,NaN,992.9,NaN,1015.5,NaN,19.7,NaN,32.3,NaN
694,354220195,SUWAŁKI,2008,11,6.1,NaN,4.8,NaN,3.0,NaN,...,92.4,NaN,989.5,NaN,1012.5,NaN,10.4,NaN,24.4,NaN
695,354220195,SUWAŁKI,2008,12,6.6,NaN,3.9,NaN,-0.3,NaN,...,93.3,NaN,996.5,NaN,1020.0,NaN,24.0,NaN,16.1,NaN

In [7]:
df_om

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Miesięczna suma opadów [mm],Status pomiaru SUMM,Liczba dni z opadem śniegu,Status pomiaru LDS,Opad maksymalny [mm],Status pomiaru MAXO,Dzień pierwszy wystąpienia opadu maksymalnego,Dzień ostatni wystąpienia opadu maksymalnego,Liczba dni z pokrywą śnieżną,Status pomiaru LDPS
0,249180020,WARSZOWICE,2019,1,97.7,NaN,19,NaN,21.5,NaN,8.0,NaN,0,NaN
1,249180020,WARSZOWICE,2019,2,34.0,NaN,3,NaN,15.4,NaN,3.0,NaN,0,NaN
2,249180020,WARSZOWICE,2019,3,39.8,NaN,1,NaN,7.9,NaN,15.0,NaN,0,NaN
3,249180020,WARSZOWICE,2019,4,51.1,NaN,1,NaN,20.7,NaN,28.0,NaN,0,NaN
4,249180020,WARSZOWICE,2019,5,124.0,NaN,0,NaN,28.0,NaN,22.0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60125,254239999,SMOLANY,1965,8,61.0,NaN,0,NaN,17.0,NaN,27.0,NaN,0,NaN
60126,254239999,SMOLANY,1965,9,38.6,NaN,0,NaN,10.7,NaN,15.0,NaN,0,NaN
60127,254239999,SMOLANY,1965,10,17.7,NaN,0,NaN,7.8,NaN,16.0,NaN,0,NaN
60128,254239999,SMOLANY,1965,11,42.3,NaN,12,NaN,8.8,NaN,1.0,NaN,0,NaN
60129,254239999,SMOLANY,1965,12,26.6,NaN,18,NaN,6.8,NaN,19.0,NaN,0,NaN

In [8]:
station_gd_r = 'GDAŃSK-RĘBIECHOWO'
code_gd_r = 254180090

station_gd_sw = 'GDAŃSK-ŚWIBNO'
code_gd_sw = 254180110

station_gdy = 'GDYNIA' 
code_gdy = 254180060

In [9]:
df_gd_r =  df_kmd.loc[df_kmd["Kod stacji"]==code_gd_r]
df_gd_r.head()

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Absolutna temperatura maksymalna [°C],Status pomiaru TMAX,Średnia temperatura maksymalna [°C],Status pomiaru TMXS,Absolutna temperatura minimalna [°C],Status pomiaru TMIN,...,Status pomiaru SUMM,Maksymalna dobowa suma opadów [mm],Status pomiaru OPMX,Pierwszy dzień wystapienia opadu maksymalnego,Ostatni dzień wystąpienia opadu maksymalnego,Maksymalna wysokość pokrywy śnieżnej [cm],Status pomiaru PKSN,Liczba dni z pokrywą śnieżną,Liczba dni z opadem deszczu,Liczba dni z opadem śniegu
837,254180090,GDAŃSK-RĘBIECHOWO,2017,1,4.6,NaN,0.1,NaN,-14.0,NaN,...,NaN,10.5,NaN,5.0,NaN,22,NaN,22,0,14
838,254180090,GDAŃSK-RĘBIECHOWO,2017,2,10.4,NaN,2.0,NaN,-12.4,NaN,...,NaN,8.5,NaN,23.0,NaN,8,NaN,10,6,5
839,254180090,GDAŃSK-RĘBIECHOWO,2017,3,19.2,NaN,8.2,NaN,-3.8,NaN,...,NaN,5.8,NaN,2.0,NaN,1,NaN,2,7,5
840,254180090,GDAŃSK-RĘBIECHOWO,2017,4,22.8,NaN,9.8,NaN,-3.2,NaN,...,NaN,18.0,NaN,15.0,NaN,2,NaN,1,11,9
841,254180090,GDAŃSK-RĘBIECHOWO,2017,5,27.3,NaN,17.1,NaN,-1.7,NaN,...,NaN,13.4,NaN,4.0,NaN,2,NaN,1,5,3

In [10]:
df_gd_r[["Kod stacji","Rok",'Miesieczna suma opadów  [mm]']].groupby(["Kod stacji","Rok"]).sum()

                 Miesieczna suma opadów  [mm]
Kod stacji Rok
254180090  1991                         497.7
           1992                         489.4
           1993                         515.7
           2000                         573.6
           2001                         806.7
           2002                         669.3
           2003                         525.5
           2004                         736.4
           2005                         492.0
           2006                         610.0
           2007                         753.3
           2008                         627.1
           2009                         602.7
           2010                         875.0
           2011                         441.3
           2012                         641.8
           2013                         696.0
           2014                         450.0
           2015                         521.8
           2016                         742.8
           2017                         924.8
           2018                         488.4
           2019                         631.3
           2020                         611.0
           2021                         563.8
           2022                         464.2
           2023                         427.3

In [11]:
df_gd_r1 = df_om.loc[df_om["Kod stacji"]==code_gd_r]
df_gd_r1.head()

,Kod stacji,Nazwa stacji,Rok,Miesiąc,Miesięczna suma opadów [mm],Status pomiaru SUMM,Liczba dni z opadem śniegu,Status pomiaru LDS,Opad maksymalny [mm],Status pomiaru MAXO,Dzień pierwszy wystąpienia opadu maksymalnego,Dzień ostatni wystąpienia opadu maksymalnego,Liczba dni z pokrywą śnieżną,Status pomiaru LDPS
66649,254180090,GDAŃSK-RĘBIECHOWO,1981,1,32.0,NaN,0,8.0,10.6,NaN,3.0,3.0,0,8.0
66650,254180090,GDAŃSK-RĘBIECHOWO,1981,2,30.5,NaN,0,8.0,7.1,NaN,3.0,3.0,0,8.0
66651,254180090,GDAŃSK-RĘBIECHOWO,1981,3,31.9,NaN,0,8.0,4.6,NaN,15.0,15.0,0,8.0
66652,254180090,GDAŃSK-RĘBIECHOWO,1981,4,25.1,NaN,0,8.0,10.3,NaN,27.0,27.0,0,8.0
66653,254180090,GDAŃSK-RĘBIECHOWO,1981,5,22.7,NaN,0,8.0,5.2,NaN,25.0,25.0,0,8.0

In [12]:
df_gd_r1[["Kod stacji","Rok",'Miesięczna suma opadów [mm]']].groupby(["Kod stacji","Rok"]).sum()

                 Miesięczna suma opadów [mm]
Kod stacji Rok
254180090  1975                        428.4
           1976                        460.9
           1977                        524.4
           1978                        645.7
           1979                        461.8
           1980                        758.7
           1981                        663.5
           1982                        360.9
           1983                        613.3
           1984                        517.7
           1988                        444.7
           1989                        399.0
           1990                        641.8
           1996                        625.1
           1997                        615.2

In [13]:
set(df_gd_r["Rok"].unique()) & set(df_gd_r1["Rok"].unique())

set()

In [14]:
df_gd_r2 = df_smd.loc[df_smd["Kod stacji"]==code_gd_r]
df_gd_r2.head()

Empty DataFrame
Columns: [Kod stacji, Nazwa stacji, Rok, Miesiąc, Absolutna temperatura maksymalna [°C], Status pomiaru TMAX, Średnia temperatura maksymalna [°C], Status pomiaru TMXS, Absolutna temperatura minimalna [°C], Status pomiaru TMIN, Średnia temperatura minimalna [°C], Status pomiaru TMNS, Średnia temperatura miesięczna [°C], Status pomiaru STM, Minimalna temperatura przy gruncie [°C], Status pomiaru TMNG, Miesięczna suma opadów [mm], Status pomiaru SUMM, Maksymalna dobowa suma opadów  [mm], Status pomiaru OPMX, Pierwszy dzień wystąpienia opadu maksymalnego, Ostatni dzień wystąpienia opadu maksymalnego, Miesięczna suma usłonecznienia  [godziny], Status pomiaru SUUS, Maksymalna wysokość pokrywy śnieżnej [cm], Status pomiaru PKSN, Liczba dni z pokrywą śnieżną, Status pomiaru PSDN, Liczba dni z opadem deszczu, Status pomiaru DESD, Liczba dni z opadem śniegu, Status pomiaru SNID, Liczba dni z opadem deszczu ze śniegiem, Status pomiaru DSND, Liczba dni z gradem, Status pomiaru GRDD, Liczba dni z mgłą, Status pomiaru MGLD, Liczba dni z zamgleniem, Status pomiaru ZAMD, Liczba dni z sadzią, Status pomiaru SADD, Liczba dni z gołoledzią, Status pomiaru GOLD, Liczba dni z zamiecią śnieżną niską, Status pomiaru ZAND, Liczba dni z zamiecią śnieżną wysoką, Status pomiaru ZAWD, Liczba dni ze zmętnieniem, Status pomiaru ZMED, Liczba dni z wiatrem >= 10m/s, Status pomiaru W10D, Liczba dni z wiatrem >15m/s, Status pomiaru W15D, Liczba dni z burzą, Status pomiaru BURD, Liczba dni z rosą, Status pomiaru ROSD, Liczba dni ze szronem, Status pomiaru SZRD]
Index: []

[0 rows x 60 columns]

In [15]:
df_gd_r2[["Kod stacji","Rok",'Miesięczna suma opadów [mm]']].groupby(["Kod stacji","Rok"]).sum()

Empty DataFrame
Columns: [Miesięczna suma opadów [mm]]
Index: []

In [16]:
df_smd["Nazwa stacji"].unique()

array(['BIELSKO-BIAŁA', 'ZAKOPANE', 'KASPROWY WIERCH', 'NOWY SĄCZ',
       'KROSNO', 'LESKO', 'JELENIA GÓRA', 'ŚNIEŻKA', 'KŁODZKO', 'OPOLE',
       'RACIBÓRZ', 'CZĘSTOCHOWA', 'KATOWICE', 'KRAKÓW-BALICE',
       'KIELCE-SUKÓW', 'TARNÓW', 'SANDOMIERZ', 'RZESZÓW-JASIONKA',
       'ZIELONA GÓRA', 'LEGNICA', 'LESZNO', 'WROCŁAW', 'KALISZ', 'WIELUŃ',
       'ŁÓDŹ', 'SULEJÓW', 'KOZIENICE', 'LUBLIN-RADAWIEC', 'WŁODAWA',
       'SŁUBICE', 'GORZÓW WIELKOPOLSKI', 'POZNAŃ', 'KOŁO', 'PŁOCK',
       'WARSZAWA', 'SIEDLCE', 'TERESPOL', 'ŚWINOUJŚCIE', 'SZCZECIN',
       'RESKO-SMÓLSKO', 'PIŁA', 'CHOJNICE', 'TORUŃ', 'MŁAWA', 'OLSZTYN',
       'MIKOŁAJKI', 'BIAŁYSTOK', 'KOŁOBRZEG', 'KOSZALIN', 'USTKA', 'ŁEBA',
       'LĘBORK', 'HEL', 'GDAŃSK-PORT PÓŁNOCNY', 'ELBLĄG-MILEJEWO',
       'KĘTRZYN', 'SUWAŁKI', 'HALA GĄSIENICOWA', 'KATOWICE-MUCHOWIEC',
       'ZAMOŚĆ', 'WROCŁAW-STRACHOWICE', 'ŁÓDŹ-LUBLINEK', 'POZNAŃ-ŁAWICA',
       'WARSZAWA-OKĘCIE', 'KOŁOBRZEG-DŹWIRZYNO', 'GDAŃSK-ŚWIBNO',
       'PRZEMYŚL', 'SZCZECINEK', 'BYDGOSZCZ', 'OSTROŁĘKA',
       'GDAŃSK-RĘBIECHOWO', 'ZGORZELEC', 'ŻARNOWIEC'], dtype=object)